$treehillstudio-color: #cbd842;
$red: #be0000;
$disabled: #555555;

.x-grid3-col-actions {
  padding: 3px 0 3px 5px;
}

.dbadmin-row-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
    .btn {
      display: inline-block;
      font-size: 1.1em;
      line-height: .7;
      margin-right: 5px;
    }
    &:last-child {
      .btn {
        margin-right: 0;
      }
    }
  }
}

.dbadmin-grid-row-disabled {
  font-style: italic;
  opacity: .6;
  color: $disabled;
}

.action-red {
  color: $red !important;
}

#dbadmin-menu-selected-export, #dbadmin-menu-selected-truncate, #dbadmin-menu-selected-remove {
  padding: 3px 10px;
}

.x-menu-item {
  .x-menu-item-text {
    cursor: pointer;
    .icon {
      cursor: pointer;
      line-height: 16px;
      top: auto;
    }
  }
}

.x-menu-list {
  .icon {
    min-width: 1em;
    text-align: center;
  }
}

.x-menu-list-item {
  &:hover {
    .icon {
      color: inherit !important;
    }
  }
}

#dbadmin-grid-table-data {
  .x-panel-body {
    overflow: visible !important;
    .x-grid3 {
      overflow: visible !important;
      .x-grid3-viewport {
        overflow: visible !important;
      }
    }
  }
  .x-grid3-header {
    .x-grid3-hd-row {
      td {
        background-color: #e4e9ee;
      }
    }
  }
}

.x-form-item {
  &.x-hide-label {
    padding-top: 0 !important;
  }
}

#dbadmin-table-window-update {
  .get-class-button {
    margin-top: 32px;
    padding: 6px 15px;
  }
}

#dbadmin-table-window-update.modx3 {
  .get-class-button {
    padding: 7px 15px;
  }
}

.treehillstudio_about {
  cursor: pointer;
  height: 40px;
  opacity: 0.25;
  transition: opacity 0.5s;
  margin-top: 20px;
  &:hover {
    opacity: 1;
  }
  .x-panel-body {
    text-align: right;
  }
}

.treehillstudio_window {
  a {
    color: darken($treehillstudio-color, 10);
    text-decoration: none;
    &:hover {
      color: darken($treehillstudio-color, 25);
    }
  }
}

.home-panel {
  &.debug {
    background: linear-gradient(to top right, transparent, transparent, transparent, #ffffff);
  }
}

.x-form-check-wrap {
  position: relative;
}

.ribbon {
  height: 180px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 180px;
  z-index: 15;
  &:before,
  &:after {
    border: 5px solid mix(#000000, $red, 15%);
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }
  &.top-right {
    right: -10px;
    top: -10px;
    &:before,
    &:after {
      border-right-color: transparent;
      border-top-color: transparent;
    }
    &:before {
      left: 0;
      top: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
    }
    span {
      left: -46px;
      top: 46px;
      transform: rotate(45deg);
    }
  }
  span {
    background-color: $red;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #ffffff;
    display: block;
    font: 700 18px/1 'Lato', sans-serif;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    width: 300px;
  }
}

@import 'modx3';

